html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: lightblue;
}

#container {
    background-color: #FFFFFF;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

p, ul, li, figcaption {
    font-family: 'Roboto', sans-serif;
}

.pageheading {
    font-size: 44px;
    text-align: center;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.headshot {
    width: 25%;
    min-width: 100px;
    margin-bottom: 10px;
    -webkit-box-shadow: 3px 3px 3px 2px #2B2B2B;
    box-shadow: 3px 3px 3px 2px #2B2B2B;
}

#headshot_image {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#contact_info {
    line-height: 8px;
}

#contact_info {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

figcaption {
    font-weight: 700;
    font-style: italic;
}

nav {
    background-color: lightblue;
    width: 100%;
    text-align: center;
    min-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ul {
    margin-left: -20px;
}

nav ul li {
    font-size: 1.3em;
    font-weight: 700;
    display: inline;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, p {
    padding-left: 10px;
    padding-right: 10px;
}

.section_header {
    color: darkblue;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.dates {
    font-weight: 700;
    font-style: italic;
}

#skillscloud {
    width: 100%;
    min-width: 300px;
}

@media (min-width: 600px) {
    #container {
        width: 80%;
        margin: auto;
        -webkit-box-shadow: 3px 3px 3px 2px #2B2B2B;
        box-shadow: 3px 3px 3px 2px #2B2B2B;
    }

    .pageheading {
        text-align: left;
    }

    .headshot {
        width: 40%;
    }

    #headshot_image, #contact_info {
        width: 45%;
        float: left;
    }

    #contact_info {
        font-size: 16px;
        line-height: 12px;
    }

    nav {
        background-color: lightblue;
        clear: both;
        margin: 0;
    }

    .sticky {
        width: 80%;
        margin: auto;
        left: 0;
        right: 0;
    }

    section {
        padding: 10px;
    }

}

@media (min-width: 960px) {
    #contact_info {
        font-size: 24px;
    }
}
